<p-card header="Experiencia laboral" [style]="{'width': '25rem', 'margin-bottom': '2em', 'background-color': 'rgba(215,215,215,0.1)',
'background-image': 'linear-gradient(45deg, rgba(255,255,255,0), rgba(255,255,255,0.5))', 'text-align': 'center'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img alt="Card" src="https://www.primefaces.org/primeng/assets/showcase/images/usercard.png">
  </ng-template>

    <img src="http://ezsolutions.cl/img/inicio/logo.png" alt="EZ Solutions" style="height: 100px; width: 100px;">

  <p style="text-align: center; font-size: 14px; margin-top: 0px;"><i>[07/2021 - 07/2022]</i></p>
  <p style="text-align: left; font-size: 14px;"> <strong>Técnico en terreno:</strong> encargado de realizar instalaciones de computadores a empresas como Caja Los Andes, Caja 18, reparaciones de impresoras a Registro Civil. Estos servicios se realizan desde Curicó hasta Angol</p>
</p-card>
